<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update User Details</h1>
        <form action="" method="post">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" value="{{ user.ID }}" required>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ user.NAME }}" required>

            <label for="age">Age:</label>
            <input type="text" id="age" name="age" value="{{ user.AGE }}" required>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="{{ user.CITY }}" required>

            <label for="email">EMAIL ID:</label>
            <input type="email" id="email" class="transparent-input" name="email" value="{{ user.email }}" required>

            <div class="submit-btn">
            <input type="submit" value="Update Details">
            </div>
        </form>
    </div>
</body>
</html>
